
body { 
  font-family: 'Karla', sans-serif;
  color: white !important;
  background: url(/imgs/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #D9C5C1;
}
.is-underlined {
  text-decoration: underline;
}
.dark {
  color: #171F26;
}
.navbar {
  background: #171F26 !important;
  /* border-bottom: 1px solid white; */
}
.navbar-brand {
  color: white;
  font-size: 1.2rem;
  margin-left: 11.5em;
}
.btn {
  background-color: #0D4F8C;
  color: white;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #082C5C;
  color: white;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 56.5%;
  height: 450px;
  margin-left: 6.9%;
}
.a-link {
  background: #171F26;
  color: white;
  padding: 0.5rem;
  /* border-radius: 25px; */
  text-align: left;
  -webkit-transition: box-shadow 0.3s; /* Safari */
  transition: box-shadow 0.3s, transform 0.7s;
}
.a-link:hover {
  cursor: pointer;
  box-shadow: 0 8px 6px -6px black;
  transform: translateY( 3px );
}
#notes {
  float: right;
  width: 30%;
}

/* loader css */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0px 10px;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #171F26;
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #171F26;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}